@{
    Layout = null;
}

@{
/*
@model Hotel_Booking_Site.Models.UserProfile

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <fieldset>
        <legend>Kullanıcı Giriş Ekranı</legend>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Username)</td>
                <td>@Html.TextBoxFor(a => a.Username)</td>
                <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.Password)</td>
                <td>@Html.PasswordFor(a => a.Password)</td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}


*/
}

@model Hotel_Booking_Site.Models.UserProfile

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V18</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../Content/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../css/util.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
    
    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">


               
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title p-b-43">
                        Giriş Yap
                    </span>
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            @Html.TextBoxFor(a => a.Username, new { @class = "input100", @name = "Username" })
                            <span class="focus-input100"></span>
                            <span class="label-input100">Kullanıcı Adı</span>
                        </div>


                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            @Html.PasswordFor(a => a.Password, new { @class = "input100", @name = "pass" })
                            <span class="focus-input100"></span>
                            <span class="label-input100">Şifre</span>
                        </div>

                        <div class="flex-sb-m w-full p-t-3 p-b-32">
                            <div class="contact100-form-checkbox">
                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                <label class="label-checkbox100" for="ckb1">
                                    Beni Hatırla
                                </label>
                            </div>
                      
                            <div>
                                <a href="#" class="txt1">
                                    Şifremi unuttum
                                </a>
                            </div>
                        </div>


                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Giriş yap
                            </button>
                        </div>

                        <div class="text-center p-t-46 p-b-20">
                            <span class="txt2">
                                Kayıt Ol
                            </span>
                        </div>

                        <div class="login100-form-social flex-c-m">
                            <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                                <i class="fa fa-facebook-f" aria-hidden="true"></i>
                            </a>

                            <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                    }
                    </form>

                <div class="login100-more" style="background-image: url('images/bg-01.jpg');">
                </div>
            </div>
        </div>
        
    </div>





        <!--===============================================================================================-->
        <script src="../../Content/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="../../Content/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="../../Content/vendor/bootstrap/js/popper.js"></script>
        <script src="../../Content/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="../../Content/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="../../Content/vendor/daterangepicker/moment.min.js"></script>
        <script src="../../Content/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="../../Content/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="../../Scripts/js/main.js"></script>
    
    </body>
</html>

