@model IEnumerable<Hotel_Booking_Site.Models.Tbl_Oda>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row ">
        <div class="col my-5 d-flex mx-auto">
            <h1 class="display-2 d-flex mx-auto">Rezervasyon</h1>
        </div>
    </div>
</div>

<div class="col-md-6 mx-auto">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OdaTip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OdaKisiLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OdaGenislik)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OdaTip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdaKisiLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdaGenislik)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OdaID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OdaID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OdaID })
            </td>
        </tr>
            }

        </table>
    </div>
</div>