@model IEnumerable<Hotel_Booking_Site.Models.Tbl_Oda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OdaTip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OdaKisiLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OdaGenislik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OdaTip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OdaKisiLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OdaGenislik)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OdaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OdaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OdaID })
        </td>
    </tr>
}

</table>
